<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        nav a {
            color: #5555aa;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }

    </style>
    {% if wait_for_download is defined and wait_for_download %}
        <meta http-equiv="refresh" content="15">
    {% endif %}
</head>
<body>
    <nav>
        <a href="{{ url_for('gen_tray_form') }}">STL Generator</a>
        <a href="{{ url_for('about_page') }}">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>