{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Generate & Download Tray STL {% endblock %}</h2>

    <p>
    {{ message }}
    </p>


    {% if is_complete %}
        <ul>
            <li><a href="https://etotheipi-gentray-store.s3.amazonaws.com/{{ tray_hash }}/organizer_tray.stl">https://etotheipi-gentray-store.s3.amazonaws.com/{{ tray_hash }}/organizer_tray.stl</a></li>
        </ul>
        <hr>
    {% else %}
        <img src="data:image/png;base64,{{ preview_b64 }}" alt="Tray Being Generated" />
        <p>
            You should be automatically redirected, but if not, you can try the following links:
        <ul>
            <li><a href="https://etotheipi-gentray-store.s3.amazonaws.com/{{ tray_hash }}/status.txt">https://etotheipi-gentray-store.s3.amazonaws.com/{{ tray_hash }}/status.txt</a></li>
            <li><a href="https://etotheipi-gentray-store.s3.amazonaws.com/{{ tray_hash }}/organizer_tray.stl">https://etotheipi-gentray-store.s3.amazonaws.com/{{ tray_hash }}/organizer_tray.stl</a></li>
        </ul>
        </p>
    {% endif %}

    {% if preview_b64 is defined %}
    <h3>Parameters Used:</h3>
    <ul>
        <li>X-sizes (mm): {{params.xlist}}</li>
        <li>Y-sizes (mm): {{params.ylist}}</li>
        <li>Depth (mm): {{params.depth}}</li>
        <li>Wall Thickness (mm): {{params.wall}}</li>
        <li>Floor Thickness (mm): {{params.floor}}</li>
        <li>Floor Roundness (mm): {{params.round}}</li>
    </ul>
    {% endif %}


{% endblock %}